extends layout.pug

//----------------------Fill main table data----------------------------
mixin table-row(index, name, path, type, trigger, state)
    tr  
        td.w-5(data-label="#")= index 
        td(data-label="Name")= name 
        td(data-label="Path")= path
        td(data-label="Type")= type
        td(data-label="Trigger")= trigger
        td(data-label="state")= state
        td(data-label="Controls")
            button.mx-1.btn.btn-outline-secondary.btn-sm(type='button' onclick=`open_edit_task(${index})`) edit
            button.mx-1.btn.btn-outline-secondary.btn-sm(type='button' data-bs-toggle='modal' data-bs-target='#verify_delete' d-name=name d-index=index) delete

block content
    div(style='padding-top: 56px; ').container-xxl
        card.card.card_shadow.h-100.mt-4
            .bg-secondary.card-img-top
                .h4.mx-2.mt-2 Tasks
            .card_body.p-2
                table.table#task_table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Name
                            th(scope='col') Path
                            th(scope='col') Type
                            th(scope='col') Trigger
                            th(scope='col') State
                            th(scope='col' style="width: 15%;") Controls
                    tbody
                        each task, index in tasks
                            //+table-row(index+1, task.task_name, task.playlist_path, task.type, task.trigger_type, task.state)
                        
                        tr
                            td(colspan='6')
                            td(data-label="Controls") 
                                button.btn.btn-outline-secondary.btn-sm.mx-1(type='button' onclick='add_task()') add

    //----------------------Edit task MODAL_2----------------------------
    
    include modals/editTask_modal.pug

    //----------------------Confirm delete MODAL----------------------------
    #verify_delete.modal.fade(aria-hidden='true' aria-labelledby='verify_deleteModalLabel' tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h1#verify_delete.modal-title.fs-5 Confirm delete
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    h2.name_to_delete
                .modal-footer
                    button.btn.btn-primary(data-bs-dismiss="modal" onclick = 'delete_task()') Delete
                    button.btn.btn-primary(data-bs-dismiss="modal") Cancel



    script.
        var config = !{JSON.stringify(config)}
        var playlist_table = !{JSON.stringify(playlist_table)}
        var scheduler_table = !{JSON.stringify(tasks)}
        //console.log(playlist_table)
        var edit_task_index

        var DOM_table = document.getElementById('task_table').getElementsByTagName('tbody')[0]

        function open_edit_task(index){
            edit_task_index = index;
            $("#editTaskModal_2").modal('show')
        }

        $(document).ready(function() {
            console.log( "ready!" );
            DOM_table.innerHTML = ""
            
            scheduler_table.forEach(function (task, index){
                let newRow = DOM_table.insertRow(DOM_table.rows.length)
                if(task.state=='warning'){
                   newRow.className = 'table-danger'
                }else if(task.state=='play'){
                    newRow.className = 'table-success'
                }


                newRow.insertCell().innerHTML = `<p>${index+1}</p>`
                newRow.insertCell().innerHTML = `<p>${task.task_name}</p>`
                newRow.insertCell().innerHTML = `<p>${task.playlist_path}</p>`
                newRow.insertCell().innerHTML = `<p>${task.type}</p>`
                newRow.insertCell().innerHTML = `<p>${task.trigger_type}</p>`
                newRow.insertCell().innerHTML = `<p>${task.state}</p>`
                newRow.insertCell().innerHTML = `<button class="mx-1 mt-1 btn btn-outline-secondary btn-sm" type="button" onclick = 'open_edit_task(${index+1})'>edit</button>
                                                <button class="mx-1 mt-1 btn btn-outline-secondary btn-sm" type="button" onclick = 'open_edit_task(${index})'>delete</button>`
            })
        });
        
        

        function add_task(){
            let new_task ={
                "task_name": "new_task",
                "playlist_path": "",
                "type": "",
                "trigger_type": "",
                "state": "",
                "schedule": {
                    "start_time": "",
                    "end_time": "",
                    "day_of_week": ""
                },
                "trigger_topics": [],
                "actions": []
            }

            scheduler_table.push(new_task)
            //this.setAttribute('d-index', scheduler_table.length)

            edit_task_index=scheduler_table.length
            $("#editTaskModal_2").modal('show')
        }


        //----------------------Delete task----------------------------
        var confirm_delete = document.getElementById('verify_delete')
        var delete_index = 0
        confirm_delete.addEventListener('show.bs.modal', function (event) {
            var delete_button = event.relatedTarget

            var modal_header_task_name = confirm_delete.querySelector('.name_to_delete')

            modal_header_task_name.innerHTML = delete_button.getAttribute('d-name')
            delete_index = delete_button.getAttribute('d-index')
        })
        
        function delete_task(index){
            var modal_header_task_name = confirm_delete.querySelector('.name_to_delete')
            var delete_button = event.relatedTarget
            var data = {
                index_to_delete : delete_index,
                name_to_delete: modal_header_task_name.innerHTML
            }
            console.log('Task name to delete: ' + data.index_to_delete)
            fetch('/Scheduler/delete', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify(data)
            }).then((res) => {
                console.log("delete POST OK:", res)
                window.location.reload();
                }).catch((err) => {
                console.log(err)
                })
        }



