#editTrackModal.modal.modal-xl.modal-fullscreen-xl-down.fade(tabindex='-1' aria-labelledby='editTrackModalLabel' aria-hidden='true' data-bs-backdrop="static")
        .modal-dialog.modal-xl.modal-fullscreen-xl-down
            .modal-content
                .modal-header(style='background-color: rgb(177, 220, 226);')
                    h4.editTrackModalTitle Edit track in playlist:
                .modal-body
                    .input-group
                        span.input-group-text.fs-5.fw-bold Track name:
                        input#track_name_input.fs-5.fw-bold.form-control(type="text" style='color: rgb(106, 143, 148)')
                    //-------------------CARD Main settings-----------------------------
                    card.card.card_shadow.h-100.mt-4
                        .bg-secondary.card-img-top
                            .h4.mx-2.mt-2 Main settings
                        .card_body.p-2
                            table#editSipmpleTrack.table.table-hover
                                thead
                                    tr  
                                        th(scope='col' style='width:8%') Order
                                        th(scope='col' style='width:10%') Type
                                        th(scope='col' style='width:25%') File name
                                        th(scope='col' ) Path
                                tbody
                                    tr
                                        th 
                                            input#order_input.form-control(type='number' placeholder='' aria-label='')
                                        th
                                            select#type_select.form-select
                                        th
                                            select#name_select.form-select

                                        th
                                            input#path_input.form-control(type='text' placeholder='' aria-label='' disabled='' readonly='')
                    //-------------------CARD Triggers and actions-----------------------------
                    card.card.card_shadow.h-100.mt-4
                        .bg-secondary.card-img-top
                            .h4.mx-2.mt-2 Interactive settings
                        .card_body.p-2
                            table#interactiveContTable.table.table-hover
                                thead
                                    tr
                                        //th(scope='col' style='width:8%') 
                                        th(scope='col' style='width:20%') Name
                                        th(scope='col') Topic
                                        th(scope='col' style='width:15%') Payload
                                tbody
                                    tr

                                    tr#turnOn_row.css_inactive
                                        th 
                                            h6.mt-2 Turn on triger
                                        th 
                                            input#turnOn_Topic.form-control(type='text' aria-label='')
                                        th 
                                            input#turnOn_Payload.form-control(type='text' aria-label='') 
                                    tr#turnOff_row.css_inactive
                                        th 
                                            h6.mt-2 Turn off triger
                                        th 
                                            input#turnOff_Topic.form-control(type='text' aria-label='')
                                        th 
                                            input#turnOff_Payload.form-control(type='text' aria-label='') 
                                    tr#startAction_row.css_inactive
                                        th 
                                            h6.mt-2 Start action
                                        th 
                                            input#startAction_Topic.form-control(type='text' aria-label='')
                                        th 
                                            input#startAction_Payload.form-control(type='text'  aria-label='') 
                                    tr#endAction_row.css_inactive
                                        th 
                                            h6.mt-2 End action
                                        th 
                                            input#endAction_Topic.form-control(type='text' aria-label='')
                                        th 
                                            input#endAction_Payload.form-control(type='text'  aria-label='') 
                                    tr#loop_row.css_inactive
                                        th 
                                            h6.mt-2 Loop track
                                        th
                                            input#loop_Enable(type='checkbox' data-toggle="toggle" data-size="sm" data-onlabel='On' data-offlabel='Off') 
                                        th
                                    
                                    
                                    //each playlist, index in playlist_table
                                        //- var pt_ind = playlist_table.findIndex(o => o.id_md5 == task.id_md5)
                                        //- console.log(playlist_table[0].name)
                                        if playlist.type == 'json'
                                            +table-row(index+1, playlist.name, playlist.path)
                .modal-footer
                    button.btn.btn-secondary(onclick = 'saveTrack()') Save
                    button.btn.btn-secondary(onclick = 'cancelEditTrack()') Cancel
        
script.

    function saveTrack() {
        let type
        
        let track={
            order_num : parseInt($('#order_input').val()),
            name : $('#track_name_input').val(),
            path : $('#path_input').val(),
            content_group : $("#type_select option:selected").text(),
            type : '',
            error: "",
            loop : $('#loop_Enable').prop('checked'),
            triger_on : $('#turnOn_Topic').val() + " : " + $('#turnOn_Payload').val(),
            triger_off : $('#turnOff_Topic').val() + " : " + $('#turnOff_Payload').val(),
            pub_on_start : $('#startAction_Topic').val() + " : " + $('#startAction_Payload').val(),
            pub_on_end : $('#endAction_Topic').val() + " : " + $('#endAction_Payload').val()
        }

        if((track.triger_on.length>3) ||
            (track.triger_off.length>3) ||
            (track.pub_on_start.length>3) ||
            (track.pub_on_end.length>3)){
            track.type = 'interactive'  
        }else{
            track.type = 'simple'
        }

        current_playlist.tracks.forEach(item => {
            if(item.order_num== track.order_num){
                item.order_num = parseInt(current_track_index)+1
            }
        });

        if(current_track_index>=current_playlist.tracks.length){
            current_playlist.tracks.push(track) 
        }else{
            current_playlist.tracks[current_track_index]=track
        }

        current_playlist.tracks.sort(function(a,b){
            return a.order_num - b.order_num
        })
        //-----------------simple - interactive sorting
        current_playlist.tracks.sort(function(a,b){
            if(a.type=='simple' && b.type=='interactive'){
                let tmp = b.order_num
                b.order_num=a.order_num
                a.order_num=tmp
                return -1
            }else{
                return 0
            }
        })

        $('#editTrackModal').modal('hide')
        $('#editPlaylistModal').modal('show')
        
    }

    function cancelEditTrack(){
        $('#editTrackModal').modal('hide')
        $('#editPlaylistModal').modal('show')
        
    }

    //------------------------TRACK MODAL-----------------EVRNTS-------------

    editTrackModal.addEventListener('show.bs.modal', function (event) {
        var track_name = document.getElementById('track_name_input')
        $('#turnOn_Topic').val('')
        $('#turnOn_Payload').val('')
        $('#turnOn_row').addClass("css_inactive")
        $('#turnOff_Topic').val('')
        $('#turnOff_Payload').val('')
        $('#turnOff_row').addClass("css_inactive")
        $('#startAction_Topic').val('')
        $('#startAction_Payload').val('')
        $('#startAction_row').addClass("css_inactive")
        $('#endAction_Topic').val('')
        $('#endAction_Payload').val('')
        $('#endAction_row').addClass("css_inactive")
        $('#loop_Enable').bootstrapToggle('off')

        $('#type_select').empty()
        for(let key in Object.keys(content_table)){
            $('#type_select').append(`<option value="">${Object.keys(content_table)[key]}</option>`)
        }
        $('#name_select').empty()
        

        if(current_track_index<current_playlist.tracks.length){ 
            //------------------------EDIT SIMPLE SETTINGS-------------------------
            track_name.value = current_playlist.tracks[current_track_index].name
            let track_type = current_playlist.tracks[current_track_index].content_group
            $('#order_input').val(parseInt(current_track_index)+1)
            //let indexType = content_table.findIndex(s=>s.path==current_playlist.tracks[current_track_index].path)
            $('#type_select option:contains('+track_type+')').prop('selected', true);
            
            //console.log("name select "+ $("#type_select option:selected").text())
            for (let index in content_table[track_type]){
                //console.log("nsme select "+ content_table[$("#type_select option:selected").text()][index].name )
                $('#name_select').append(`<option value="">${content_table[track_type][index].name}</option>`)
            }
            $('#path_input').val(current_playlist.tracks[current_track_index].path)
            let indexOf = content_table[track_type].findIndex(s=>s.path==current_playlist.tracks[current_track_index].path)
            let FileName = content_table[track_type][indexOf].name
            $('#name_select option:contains('+FileName+')').prop('selected', true);
            
            
            //------------------------EDIT INTERACTIVE TRACK-------------------------
            if(current_playlist.tracks[current_track_index].type=='interactive'){
                if(current_playlist.tracks[current_track_index].triger_on!=''){
                    $('#turnOn_Topic').val(current_playlist.tracks[current_track_index].triger_on.split(':').slice(0,1))
                    $('#turnOn_Payload').val(current_playlist.tracks[current_track_index].triger_on.split(':').slice(-1))
                    $('#turnOn_row').removeClass("css_inactive")
                }
                if(current_playlist.tracks[current_track_index].triger_off!=''){
                    $('#turnOff_Topic').val(current_playlist.tracks[current_track_index].triger_off.split(':').slice(0,1))
                    $('#turnOff_Payload').val(current_playlist.tracks[current_track_index].triger_off.split(':').slice(-1))
                    $('#turnOff_row').removeClass("css_inactive")
                }
                if(current_playlist.tracks[current_track_index].pub_on_start!=''){
                    $('#startAction_Topic').val(current_playlist.tracks[current_track_index].pub_on_start.split(':').slice(0,1))
                    $('#startAction_Payload').val(current_playlist.tracks[current_track_index].pub_on_start.split(':').slice(-1))
                    $('#startAction_row').removeClass("css_inactive")
                }
                if(current_playlist.tracks[current_track_index].pub_on_end!=''){
                    $('#endAction_Topic').val(current_playlist.tracks[current_track_index].pub_on_end.split(':').slice(0,1))
                    $('#endAction_Payload').val(current_playlist.tracks[current_track_index].pub_on_end.split(':').slice(-1))
                    $('#endAction_row').removeClass("css_inactive")
                }
                if(current_playlist.tracks[current_track_index].loop=='on'){
                    $('#loop_Enable').bootstrapToggle('on')
                    $('#loop_row').removeClass("css_inactive")
                }

            }
            

        }else{
            //------------------------NEW TRACK-------------------------
            track_name.value = 'new_track'
            $('#order_input').val(current_playlist.tracks.length+1)
            //$('#type_select option:contains("video")').prop('selected', true);

            for (let index in content_table[$("#type_select option:selected").text()]){
                //console.log("nsme select "+ content_table[$("#type_select option:selected").text()][index].name )
                $('#name_select').append(`<option value="">${content_table[$("#type_select option:selected").text()][index].name}</option>`)
            }
            $('#path_input').val(content_table[$("#type_select option:selected").text()][0].path)
            
        }

    })

    $('#type_select').on("change", function(){
        //console.log("edit content type: " + $('#type_select').val())
        $('#name_select').empty()
        for (let index in content_table[$("#type_select option:selected").text()]){
            //console.log("nsme select "+ content_table[$("#type_select option:selected").text()][index].name )
            $('#name_select').append(`<option value="">${content_table[$("#type_select option:selected").text()][index].name}</option>`)
        }
        //let tmpIndex = content_table.findIndex(s=>s.type==$('#type_select').val())
        $('#path_input').val(content_table[$("#type_select option:selected").text()][0].path)
    })

    $('#name_select').on("change", function(){
        //console.log("name select changed: "+$("#name_select option:selected").text())
        let tmpIndex = content_table[$("#type_select option:selected").text()].findIndex(s=>s.name==$("#name_select option:selected").text())
        $('#path_input').val(content_table[$("#type_select option:selected").text()][tmpIndex].path) 
    })

    $('#turnOn_Topic,#turnOn_Payload').on("change", function(){
        $('#turnOn_row').addClass("css_inactive")
        if($('#turnOn_Topic').val()!=''){
            if(($('#turnOn_Payload').val()!='')){
                $('#turnOn_row').removeClass("css_inactive")
            }
        }
    })

    $('#turnOff_Topic,#turnOff_Payload').on("change", function(){
        $('#turnOff_row').addClass("css_inactive")
        if($('#turnOff_Topic').val()!=''){
            if(($('#turnOff_Payload').val()!='')){
                $('#turnOff_row').removeClass("css_inactive")
            }
        }
    })

    $('#startAction_Topic,#startAction_Payload').on("change", function(){
        $('#startAction_row').addClass("css_inactive")
        if($('#startAction_Topic').val()!=''){
            if(($('#startAction_Payload').val()!='')){
                $('#startAction_row').removeClass("css_inactive")
            }
        }
    })

    $('#endAction_Topic,#endAction_Payload').on("change", function(){
        $('#endAction_row').addClass("css_inactive")
        if($('#endAction_Topic').val()!=''){
            if(($('#endAction_Payload').val()!='')){
                $('#endAction_row').removeClass("css_inactive")
            }
        }
    })
    $('#loop_Enable').on("change",function() {
        // try {
        //     current_playlist.tracks[current_track_index].loop = $(this).prop('checked')
        // }catch{

        // }
    })

    function show_delete_track_modal(index){
        current_track_index = index
        $('#editPlaylistModal').modal('hide')
        $('#confirmDeleteTrackModal').modal('show')
        $('#deleteTrack_name_input').val(current_playlist.tracks[current_track_index].name)
    }
